.image{
    width: 190px;
    height: 215px;
    object-fit: cover;
}
header{
    display: flex;
    
}
h1{margin-left: 17%;}
h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
header{background-color:darksalmon;}
main{font-family: Arial, Helvetica, sans-serif;}
footer{background-color:darksalmon;
    width: AUTO;
    height: 30%;
    padding-top:10%;
    
    
}
#pdf{
text-align: center;
    padding-bottom:5% ;

}  
main{
font-weight:backdrop;} 
h5{
    text-align: center;
}
.commerciale-ul{
    padding-left: 55px;
}
.contact{text-decoration: underline;}

.compétence{text-decoration: underline;
font-size: xx-large;}
.savoir-être{text-decoration: underline;
font-size: xx-large;}
.langue{text-decoration: underline;
font-size: xx-large;}
.formation{text-decoration: underline;
font-size: xx-large;}
.intérêt{text-decoration:underline;
font-size: xx-large;}
.parcours{text-decoration: underline;
font-size: xx-large;}